<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>611448757567-o0qa520c4v0dfpbbbq6vebksl02gdp6q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.611448757567-o0qa520c4v0dfpbbbq6vebksl02gdp6q</string>
	<key>API_KEY</key>
	<string>AIzaSyDdJcj4tB6jikS2qNSWqxWup2cML76v-F8</string>
	<key>GCM_SENDER_ID</key>
	<string>611448757567</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.studentsApp</string>
	<key>PROJECT_ID</key>
	<string>studentsapp-96c77</string>
	<key>STORAGE_BUCKET</key>
	<string>studentsapp-96c77.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:611448757567:ios:f5cd96fc51898742e1078a</string>
</dict>
</plist>